/* --------------- Fonts used : Poppins + Abril Fatface --------------- */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* --------------- Website Theme --------------- */

:root {
  --hue-1: 257;
  --hue-2: 47;
  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-2: hsl(var(--hue-2), 100%, 61%);
  --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
  --section-padding: 7rem ;
}

body {
  --bg-color: hsl(var(--hue-1), 100%, 97%);
  --bg-color-1: hsl(var(--hue-1), 100%, 95.5%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
  --text-color: hsl(var(--hue-1), 17%, 63%);
}

body.dark {
  --bg-color: hsl(var(--hue-1), 19%, 15%);
  --bg-color-1: hsl(var(--hue-1), 21%, 11%);
  --bg-color-2: hsl(var(--hue-1), 23%, 19%);
  --bg-color-3: hsl(var(--hue-1), 23%, 24%);
  --bg-color-transparent: hsla(var(--hue-1), 23%, 19%, 0.6);
  --heading-color: hsl(var(--hue-1), 100%, 95%);
  --text-color: hsl(var(--hue-1), 14%, 51%);
}

body.dark .st1{
  fill: hsl(var(--hue-1), 18%, 29%);
}

body.dark .shape.square{
  opacity: 0.07;
}
body.dark .toggle-btn{
  background-color: var(--bg-color-3);
}
body.dark .toggle-btn:hover{
  background-color: brightness(110%);
}
/* --------------- General Styles --------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* width: 100%; */
  /* overflow: hidden; */
  /* overflow-x: hidden; */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  transition: 0.3s background-color;
  /* z-index: -2; */
}

::selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* --------------- Reusable CSS Code --------------- */

.container {
  position: relative;
  width: 100%;
  max-width: 75rem;
  padding: 0 1.5rem;
  /* background-color: red; */
  margin: 0 auto;
}

.logo {

  margin-right: 1.5rem;
  height: 120px;
  line-height: 120px;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1px;
  font-size: 1.5rem;
  color: var(--heading-color);

}

.logo span {
  color: var(--main-color-1);
}

/* --------------- Navbar Styling --------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
}

header.scrolled {
  background-color: var(--bg-color-transparent);
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(30px);
  /* opacity: 0.9; */

}

nav.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.links {
  /* background-color: red; */
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.links ul {
  display: flex;
  align-items: center;
  width: 100%;
}

header .logo {
  height: 120px;
  line-height: 120px;
  transition: 0.3s;
}

header.scrolled .logo {
  height: 80px;
  line-height: 80px;
  transition: 0.3s;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 0 1.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  color: var(--text-color);
  font-weight: 500;
  opacity: 0.9;
  transition: 0.3s;

}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 10px;
  border-radius: 5px;
  bottom: 0;
  left: -5px;
  background-color: var(--main-color-1);
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--heading-color);

}

.nav-link:hover::after {
  width: 100%;
  opacity: 0.2;


}

.toggle-btn {

  color: var(--heading-color);
  height: 40px;
  min-width: 40px;
  background-color: var(--bg-color-2);
  border-radius: 50%;
  font-size: 1.1rem;
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);


}

.toggle-btn:hover {
  filter: brightness(95%);
}
h1 {

  /* font-size: 50px; */
  /* font-weight: 800; */
  /* text-align: center; */
  color: var(--heading-color);
  font-family:  "Poppins", sans-serif;
  font-size: 3rem;

  font-weight: 400;
  line-height: 1.3;
    
  }
.text-bounce{
  display: inline-block;
  padding-top: 20px;
    vertical-align: center;
  transform: scaleY(1) translateY(0px);
    transform-origin: 50% 100%;
  transition: .3s ease-in-out;
 
}
.animate{
  animation: bouncy 0.4s forwards;
  color: var(--text-color);
}

@keyframes bouncy{
  0%{transform: scaleY(1) translateY(0px);}
  /* 25%{transform: scaleY(.2) translateY(20px);} */
  50%{transform: scaleY(0.2) translateY(-10px);}
    /* 75%{transform: scaleY(.3) translateY(10px);} */
   100%{transform: scaleY(1) translateY(0px);}
}

h1:hover{cursor: default;
}
/* --------------- Showcase Area Styling --------------- */
.showcase-area {
  padding: 120px;
  width: 100%;
  overflow: hidden;
  position: relative;

}

.showcase-area .container {
  display: grid;
  grid-template-columns: 1fr 520px;
  height: calc(100vh - 120px);
  max-height: 600px;
  align-items: center;
}

.sub-heading {
  color: var(--heading-color);
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  border-left: 3px solid var(--main-color-2);
  padding: 0.13rem 0.75rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.heading {
  color: var(--heading-color);
  font-size: 3rem;

  font-weight: 400;
  line-height: 1.3;
}

.text {
  color: var(--text-color);
  font-size: 0.9rem;
  margin: 2rem 0;
}

.showcase-area .sub-heading {
  margin-bottom: 0.7rem;
}

.showcase-area .heading {
  font-size: 3.5rem;
}

.showcase-area .text {
  margin: 0.8rem 0;
}

.cta {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
}

.cta .btn {
  margin-right: 1.5rem;

}
.text-anime .teext{
  position: relative;
  color: var(--hue-1);
  font-size: 1.76rem;

  /* font-weight: 600; */
  color: var(--text-color);
  font-size: 1.3rem;
  margin: 2rem 0;
}
.teext.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  font-size: 1.76rem;
  left: 0;
  /* margin: 20px; */
  height: 100%;
  /* color: #e4e1fc
  ; */
  transition: 0.3s;
  width: 100%;
  background-color: var(--bg-color);
  border-left: 2px solid var(--main-color-1);
  animation: animaate 4s steps(15) infinite;
}
@keyframes animaate{
  40%, 60%{
      left: calc(100% + 14px);
  }
  100%{
      left: 0%;
  }
}
.btn {
  display: inline-block;
  padding: 0.9rem 1.75rem;
  border-radius: 20px;
  background-color: var(--main-color-1);
  color: white;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  border: none;
  text-transform: capitalize;
  transition: 0.3s;

}

.btn:hover {
  background-color: var(--main-color-dark-1);
}

.btn.secondary-btn {
  position: relative;
  background-color: transparent;
  color: var(--main-color-1);
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0px;
  border-bottom: 2.5px solid var(--main-color-2);
  border-radius: 0px;
  padding: 0.15rem 0;
  transition: 0.3s;


}

.btn.secondary-btn::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2.5px;
  bottom: -2.5px;
  transition: 0.3s ease-in-out;
  left: 0;
  background-color: var(--main-color-1);
}

.btn.secondary-btn:hover::before {
  width: 100%;
}

.showcase-img {
  position: relative;
  width: 100%;
  min-height: calc(100% + 120px);
  /* background-color: linear-gradient(124deg, var(--main-color-1,var(--main-color-2)));  */
  z-index: 1;
  background-color: var(--main-color-1);
  border-radius: 0 0 80px 80px;
  margin-top: -120px;
  background-image: linear-gradient(130deg, var(--main-color-1), var(--main-color-2));
}

.showcase-img .person {
  position: absolute;
  width: 90%;
  bottom: 0;
  height: 12 0%;
  /* height: 120%; */
  left: 50%;
  z-index: 101;
  transform: translateX(-50%);
}

.dots {
  width: 112px;
}

.sqaure {
  width: 70px;
}

.showcase-area .dots {
  position: absolute;
  left: 100%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.about-info .holocircle {
  position: absolute;
  left: 30%;
  opacity: 20%;
  top:35%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.skills-box .square{
  position: absolute;
  left: 95%;
  opacity: 40%;
  top:3.8%;
  height: 160px;
  /* size: 40px 40px; */
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.skills-box .circle31{
  position: absolute;
  left: 35%;
  opacity: 20%;
  top:40%;
 height: 850px;
  transform: translate(-50%, -50%);
}
.skills-box .circle1{
  position: absolute;
  left:50%;
  opacity: 95%;
  top:100%;
  height: 150px;
 /* height: 850px; */
  transform: translate(-50%, -50%);
}
.contact-info .circle32{
  position: absolute;
  left:55%;
  opacity: 25%;
  top:50%;
  z-index: -1;
  height: 750px;
 /* height: 850px; */
  transform: translate(-50%, -50%);
}

.showcase-area .circle {
  position: absolute;
  left: 0%;
  top: 80%;
  width: 190px;
  transform: translate(-50%, -50%);
}

.showcase-area .square {
  position: absolute;
  left: 30%;
  margin-top: 50%;
  height: 100px;
  opacity: 0.7;

  transform: translate(-50%, -50%);
}
#about{
  margin-top: 150px;
  top: 100px;
  min-height: 100vh;
 
}

.section {
  position: relative;
  padding: var(--section-padding) 0;
}
.about{
  min-height: 100vh;
  top: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.about .container {
  display: grid;
  grid-template-columns: 1.05fr 1fr;
}

.about .text {
  margin: 3rem 0 4rem;
}

.about-grid .person {
  position: absolute;
  width: 27%;
  bottom: 300px;
  left: 250px;
  /* height: 100%; */
  /* height: 120%; */
  /* left: 50%; */
  z-index: 1;
  transform: translateX(-50%);
}
.about-grid .person1 {
  position: absolute;
  width: 65%;
  bottom: 240px;
  left: 250px;
  /* height: 100%; */
  /* height: 120%; */
  /* left: 50%; */
  z-index: 1;
  transform: translateX(-50%);
}

.skills {
  overflow: hidden;
}

.skills-box {
  background-color: var(--bg-color-2);
  padding: 5rem 6rem;
  border-radius: 20px;
  width: 100%;
}

.box-desc {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 2rem;
}

/* --------------
- About Section Styling ---------------*/

/* --------------- Skills Section Styling --------------- */

/* --------------- Sevices Section Styling --------------- */
.anime {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  /* bottom: 100px; */
  gap: 100px;
}


.anime .package {
  position: relative;
  min-width: 400px;
  right: 100px;
  width: 400px;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.anime .package .element {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: var(--main-color-1);

  scale: 0.75;
}

.cards {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wra; */
  width: 100%;
}

.card-wrap {
  position: relative;
  margin: 1.7rem 0.8rem;
}
.wave{
  width: 100%;
}
.wave2{
  /* rotate: 180deg; */
  width: 100%;
  position: relative;
  top: -430px;
  z-index: -1;

}
.card {
  position: relative;
  width: 100%;
  max-width: 300px;
  min-height: 520px;
  background-color: var(--bg-color-1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1.5rem;
  color: var(--heading-color);
  overflow: hidden;

  transition: 0.3s;
}
.card .icon{
  height: 200px ;
  width: 200px;
}

.card:before {
  content: attr(data-card);
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 6rem;
  font-weight: 800;
  line-height: 1;
  color: var(--main-color-3);
  opacity: 0.025;
}

.card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color-3);
  transition: 0.3s;
}

.card-wrap:hover .card {
  transform: translateY(-15px);
}

.card-wrap:hover .card:after {
  height: 8px;
}

.portfolio {
  position: relative;
  width: 100%;
  background-color: var(--bg-color-4);
}

.background-bg {
  position: absolute;
  width: 100%;
  height: 520px;
  top: 0;
  left: 0;
  /* background-color: LIME; */
}
.portfolio .circle32{
  opacity: 30%;
  /* margin: 100px; */
  height: 100%;
  width: 70%;
  margin-left: 60px;
}

.portfolio .title,
.portfolio .title:before {
  color: var(--light-one);
}

.portfolio .title:after {
  background-color: cyan;
}

.filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-btn {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0.45rem 0.4rem;
  padding: 0.85rem 1.8rem;
  color: var(--light-one);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1;
  cursor: pointer;
  border-radius: 2rem;
  transition: 0.3s;
}

.filter-btn.active {
  background-color: var(--light-one);
  color: var(--main-color-1);
}

.portfolio .square {
  top: 28%;
  left: 20%;
}

.portfolio .circle {
  top: 8%;
  right: 35%;
}

.portfolio .triangle {
  bottom: 10%;
  right: 4%;
}

.portfolio .half-circle1 {
  bottom: 13%;
  left: 5%;
}

.portfolio .half-circle2 {
  top: 35%;
  right: 20%;
}

.portfolio .xshape {
  top: 10%;
  right: 8%;
}

.portfolio .wave {
  top: 38%;
  left: 6%;
}

.grid {
  width: 100%;
  margin: 1.5rem 0;
  margin-left: 60px;
  color: var(--heading-color);
  /* display: flex; */
  /* flex: 0 1 20%; */
  /* flex-direction: row; */

}

.grid-item {
  width: 30.33%;
  padding: 1rem 1.2rem;
  display: inline-block;


}

.gallery-image {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  height: 330px;
  width: 100%;
  cursor: pointer;
}

.gallery-image img {
  position: absolute;
  height: 115%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: 0.5s;
}

.gallery-image .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  color: var(--light-one);
  background-color: rgba(120, 76, 251, 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 3.2rem;
  opacity: 0;
  transition: 0.5s;
}

.img-overlay .plus {
  position: relative;
  margin: auto 0;
}

.plus:before,
.plus:after {
  content: "";
  position: absolute;
  width: 4.5rem;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-one);
  border-radius: 3px;
}

.plus:before {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.img-description {
  width: 100%;
}

.img-overlay h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.img-overlay h5 {
  font-size: 1.15rem;
  font-weight: 300;
}

.gallery-image:hover .img-overlay {
  opacity: 1;
}

.gallery-image:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}

.more-folio {
  display: flex;
  justify-content: center;
}

/* --------------- Portfolio Section Styling --------------- */

/* --------------- Testimonials Section Styling --------------- */

/* --------------- Contact Section Styling --------------- */
.contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;

}

.mail {
  color: var(--main-color-1);
  font-weight: 500;
  font-size: 1.2rem;
}

.mail i {
  display: inline-block;

  font-size: 1.5rem;

  margin-left: 2px;
  transform: translateY(3px);

  transition: 0.3s margin-left;

}

.mail:hover {
  color: var(--main-color-dark-1);

}

.mail:hover i {
  margin-left: 10px;
}



.grid{
  padding: 20px;
  width: 1200px;
  margin: 80px 30px;
}
.grid ul{
  display: flex;
  margin-bottom: 10px;
  /* left: 30px; */
  justify-content: center;
  margin-right: 39px;

}
.grid ul li{
  list-style: none;
  /* background: #eee; */
  padding: 10px 20px;
  margin: 5px;
  /* margin-right: 39px; */
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
section ul li.active{
  background: var(--main-color-1);
  border-radius: 30px;
  color: #fff;
}
.product{
  display: flex;
  flex-wrap: wrap;
}

.product .itemBox{
  position: relative;
  width: 330px;
  height: 330px;
  margin: 15px;

}
.product .itemBox img{
  position: absolute;
  top: 0;
  left:0 ;
  width: 100%;
  border-radius: 30px;
  height: 70%;
  object-fit:fill ;
  transition: 0.3s linear;
}
.product .itemBox img:hover{
 
  width: 100%;
  border-radius: 40px;
  height: 72%;
  object-fit:fill ;
  filter: brightness(80%);
  transition: 0.2s linear;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
  inset -7px -7px 10px 0px rgba(0, 0, 0, .1), 7px 7px 20px 0px rgba(0, 0, 0, .1),
  4px 4px 5px 0px rgba(0, 0, 0, .1);
}


.containers {
  height: 50vh;
  /* height: 80px; */
  padding: 100px 0;
  width: 66vw;
  /* margin-left: 75px; */
  display: flex;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-3);
  flex-wrap: wrap;
  overflow-x: scroll;
  /* left: 50px; */
}

.bar {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
  overflow: hidden;
  margin: 50px;
  top: -70px;

}

.bar:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffffb0,
    inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

svg {
  width: 100%;
  height: 100%;
  position: relative;
}

svg circle {
  position: absolute;
  transform: scale(0.939);
  transform-origin: center;
  fill: none;
  stroke: var(--main-color-1);
  stroke-width: 30px;
  stroke-dasharray: 630px;
  /* stroke-dashoffset: 630px; */
}

.bar:nth-child(1) svg circle {
  animation: bar_1 1s ease forwards;
}

.bar:nth-child(2) svg circle {
  animation: bar_2 1s ease forwards;
}

.bar:nth-child(3) svg circle {
  animation: bar_3 1s ease forwards;
}

.bar:nth-child(4) svg circle {
  animation: bar_4 1s ease forwards;
}

h1.circle {
  position: absolute;
  font-size: 20px;
  font-family: "Montserrat";
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* svg circle {
	stroke-dashoffset: calc(950 - (950*10) / 100);
} */
@keyframes bar_1 {
  0% {
    stroke-dashoffset: 630px;
  }

  100% {
    stroke-dashoffset: calc(630px - (630px * 90) / 100);
  }
}

@keyframes bar_2 {
  0% {
    stroke-dashoffset: 630px;
  }

  100% {
    stroke-dashoffset: calc(630px - (630px * 85) / 100);
  }
}

@keyframes bar_3 {
  0% {
    stroke-dashoffset: 630px;
  }

  100% {
    stroke-dashoffset: calc(630px - (630px * 45) / 100);
  }
}

@keyframes bar_4 {
  0% {
    stroke-dashoffset: 630px;
  }

  100% {
    stroke-dashoffset: calc(630px - (630px * 80) / 100);
  }
}
.skills {
  margin: 1.5rem 0 2.5rem 0;
}

.skill {
  margin: 1rem 0;
}

.skill-title {
  color: var(--heading-color);
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.skill-bar {
  width: 70%;
  height: 8px;
  border-radius: 4px;
  background-color: #ece6fa;
  position: relative;
  overflow: hidden;
}
.skill-progress {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: var(--main-color-1);
  transition: 1s;
}
.progress_container {
  max-width: 1140px;
  width: calc(100% - 2rem);
  padding: 0 1rem;
  margin: 0 auto;
}
.progress {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.progress_item {
  padding: 0.3rem 0;
}
.progress_title {
  color: var(--heading-color);
  padding: 1rem 0;
}
.progress_bar {
  position: relative;
  width: 30rem;
  height: 8px;
  border-radius: 2rem;
  background: rgb(222, 222, 222);
}
@media (max-width: 768px) {
  .progress_bar {
    width: 25rem;
  }
}
@media (max-width: 440px) {
  .progress_bar {
    width: 300px;
  }
}
@media (max-width: 340px) {
  .progress_bar {
    width: 280px;
  }
}

.bar {
  border-radius: inherit;
  background: linear-gradient(90deg, var(--main-color-1), var(--main-color-dark-1  ));
  position: absolute;
  transition: width 1.5s cubic-bezier(0.1, 0.42, 0.85, 1);
  width: 0;

  /* top: 0.2px; */
  height: 100%;
  
  left: -50px;
  margin-top: 70px;
}
.bar::after {
  content: attr(data-text);
  position: absolute;
  right: 0;
  top: -3rem;
  width: 4rem;
  height: 2rem;
  background: rgb(41, 61, 102);
  font-size: 18px;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  border-radius: 0.1rem;
  animation: text 0.6s ease-in-out;
  font-weight: bold;
}
.bar::before {
  content: ' ';
  position: absolute;
  right: 1rem;
  top: -1.2rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid rgb(41, 61, 102);
  animation: text 0.6s ease-in-out;
}
@keyframes text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  text-decoration: none;
  margin: 20px 5px;
  overflow: hidden;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, .1), 7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  /* text-shadow: 2px 2px 3px rgba(255, 255, 255, .5),
    -4px -4px 6px rgba(116, 125, 136, .2); */
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: inherit;
  color: #fff;
  box-shadow: inherit;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) .icon {
  background: #007ab5;
}

.wrapper .button:nth-child(2) .icon {
  background: #d53465;
}

.wrapper .button:nth-child(3) .icon {
  background: #f29b3a;
}

.wrapper .button:nth-child(4) .icon {
  background: #42c46d;
}

.wrapper .button:nth-child(5) .icon {
  background: rgb(49, 171, 49);
}

.wrapper .button:nth-child(1):hover .icon {
  background: #007ab5;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #d53465;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #f29b3a;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #42c46d;
}

.wrapper .button:nth-child(5):hover .icon {
  background: rgb(49, 171, 49);
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  color: #fff;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #007ab5;
  /* background: rgb(49, 171, 49); */
}

.wrapper .button:nth-child(2) span {
  color: #d53465;
}

.wrapper .button:nth-child(3) span {
  color: #f29b3a;
}

.wrapper .button:nth-child(4) span {
  color: #42c46d;
}

.wrapper .button:nth-child(5) span {
  color: rgb(49, 171, 49);
}



.contact-form {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-2);
  padding: 3.5rem 3rem;
}

.contact-form h3 {
  color: var(--heading-color);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 0.9;
}



.form-input {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  background: var(--bg-color-3);
  border: 2px solid var(--bg-color-3);
  width: 100%;
  border-radius: 20px;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  outline: none;
  color: var(--heading-color);
}
.form-input::placeholder{
color: var(--text-color );  
}
textarea.form-input{
  resize: none;
  min-height: 150px;
}
.form-input:hover{
  filter: brightness(95%);
}
.form-input:focus{
  filter: brightness(100%);
  background-color: var(--bg-color-1 );
  border-color: var(--main-color-1);
}
.contact-form .form-input{
  margin-bottom: 1.5rem;
}

/* --------------- Subscription Section Styling --------------- */

/* --------------- Footer Styling --------------- */
.footer {
  background-color: #222;
  padding: 6rem 0;
}

.footer .grid-4 {
  display: grid;
  grid-template-columns: 3.5fr 2fr 2fr 3fr;
}

.grid-4-col {
  padding: 0 1.7rem;
}

.footer .title-sm {
  color: #fafafa;
  margin-bottom: 0.9rem;
}

.footer .text {
  color: #aaa;
}

.footer-links a {
  color: #888;
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--main-color-1);
}

.footer-input-wrap {
  display: grid;
  grid-template-columns: auto 50px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 1.2rem;
}

.footer-input {
  background: #373737;
  color: white;
  outline: none;
  border: none;
  padding: 0 1.5rem;
  font-size: 1.1rem;
  transition: 0.3s;
}

.input-arrow {
  color: #fff;
  background-color: var(--main-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.45rem;
  transition: 0.3s;
}

.input-arrow:hover {
  background-color: #6b44e0;
}

.focus {
  background: #fff;
}

.bottom-footer {
  margin-top: 5.5rem;
  padding: 0 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright .text {
  color: #7b7b7b;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}

.copyright .text span {
  color: var(--main-color-1);
  cursor: pointer;
}

.followme-wrap {
  display: flex;
}

.followme {
  display: flex;
  align-items: center;
}

.followme h3 {
  color: #7b7b7b;
  font-weight: 500;
  font-size: 1.3rem;
}

.followme .footer-line {
  width: 60px;
  height: 2px;
  background-color: #7b7b7b;
  margin: 0 1.2rem;
  display: inline-block;
}

.social-media a {
  color: #7b7b7b;
  font-size: 1.3rem;
  margin-right: 0.4rem;
  transition: 0.3s;
}

.social-media a:hover {
  color: var(--main-color-1);
}

.back-btn-wrap {
  position: relative;
  margin-left: 2.5rem;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  background-color: var(--main-color-1);
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
.ab{
  padding: 2rem;
}
.back-btn:hover {
  background-color: #6b44e0;
}

.back-btn-wrap:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fff;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  border-radius: 50%;
  opacity: 0.08;
  animation: scale 1.2s ease-out infinite 1s;
}
/* --------------- 1000px Screens --------------- */

@media (max-width: 1200px) {

  body{
   
    width: auto;
  }
  header{
    width: 85%;
    padding: 0;
  }
  .sub-heading{
    font-size: 0.75rem;
  }
  .heading{
    font-size: 2rem;
  }
  .showcase-area .heading{
    font-size: 2.5rem;
  }
  .square{
 
    top: 50px;
  }
  .text{
    font-size: 0.84rem;
    margin: 1.2rem 0;
  }
  .btn{
    padding: 0.8rem 1.5rem;
    font-size: 0.8rem;
    border-radius: 15px;
    min-width: 100px;
  }
  .btn.secondary-btn{
    font-size: 0.85rem;
  }
  .form-input{
    padding: 0.8rem 1.5rem;
    border-radius: 15px;
    font-size: 0.8rem;
  }
  .logo{
    font-size: 1.5rem;

  }
  header .logo{
    height: 100px;
    line-height: 100px;
  }
  .nav-link{
    font-size: 0.7rem;
  }
  .showcase-area{
    padding: 100px 0;
  }
  .showcase-area .container{
    grid-template-columns: 1fr 400px;
    height: 450px;
  }
  .skills-box{
    padding: 4rem;
  }
  .contact .container{
    column-gap: 2.5rem;
  }  
  .contact-form{
    padding: 2.5rem 2rem;
  }
  .contact-form h3{
    font-size: 1.1rem;
    margin-bottom: 1rem;

  }
  .contact .form-input{
    margin-bottom: 0.8rem ;
  }


  .progress{
  height: auto;
  }
.showcase-img .person{
  left: 250px;

}
.anime{
  padding: 0px;


}
.anime .package{
  margin-left: 130px;
}
.anime .person1{
  left: 285px;
 
}
.product{
  display: flex;
  flex-wrap: wrap;
}
.grid{
  padding: 10px;
  width: 1000px;
  margin: 50px 15px;
  /* left: 150px; */
}
.grid ul{
  display: flex;
  margin-bottom: 10px;
  /* left: 30px; */
  justify-content: center;
  margin-right: 150px;

}
.grid ul li{
  list-style: none;
  /* background: #eee; */
  padding: 10px 20px;
  margin: 5px;
  /* margin-right: 39px; */
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product .itemBox{
  position: relative;
  width: 330px;
  height: 330px;
  margin: 30px;
  align-items: center;

}


}

/* --------------- 900px Screens --------------- */

@media (max-width: 900px) {

  body{
   
    width: auto;
  }
  header{
    width: 95%;
    padding: 0;
  }
  .sub-heading{
    font-size: 0.5rem;
  }
  .heading{
    font-size: 1.5rem;
  }
  .showcase-area .heading{
    font-size: 2.0rem;
  }
  .square{
 
    top: 30px;
    /* height: 10px; */
    /* width: 10px; */
    width: 30px;
    height: 30px;
    display: none;
  }
  .circle{
    display: none;
  }
  .text{
    font-size: 0.75rem;
    margin: 0.8rem 0;
  }
  .card{
    /* min-width: 100%; */
    width: 190px;
    height: 300px;
    display: flex;
    padding: 10px;
    flex-wrap:wrap;
    /* height: %; */
    /* padding: -20rem 1.5rem; */
  }
  .btn{
    padding: 0.7rem 1.2rem;
    font-size: 0.7rem;
    border-radius: 15px;
    min-width: 100px;
  }
  .btn.secondary-btn{
    font-size: 0.7rem;
  }
  .form-input{
    padding: 0.6rem 1.0rem;
    border-radius: 15px;
    font-size: 0.8rem;
  }
  .logo{
    font-size: 1.0rem;

  }
  header .logo{
    height: 100px;
    line-height: 100px;
  }
  .nav-link{
    font-size: 0.5rem;
  }
  .showcase-area{
    padding: 100px 0;
  }
  .showcase-area .container{
    grid-template-columns: 1fr 400px;
    height: 450px;
  }
  .skills-box{
    padding: 3.5rem;
  }
  .contact .container{
    column-gap: 2.50em;
  }  
  .contact-form{
    padding: 2rem 1.5rem;
  }
  .contact-form h3{
    font-size: 0.8rem;
    margin-bottom: 1rem;

  }
  .contact .form-input{
    margin-bottom: 0.6rem ;
  }


  .progress{
  height: auto;
  }
.showcase-img .person{
  left: 250px;
  

}
.anime{
  padding: 0px;
  margin: auto;


}
.anime .package{
  margin-left: 130px;
}
.anime .person1{
  left: 310px;
  bottom: 550px;
  width: 90%;
  margin: auto;
 
}
.product{
  display: flex;
  flex-wrap: wrap;
}
.grid{
  padding: 10px;
  width: 800px;
  margin: 50px 15px;
  /* left: 150px; */
}
.grid ul{
  display: flex;
  margin-bottom: 10px;
  /* left: 30px; */
  justify-content: center;
  margin-right: 150px;

}
.grid ul li{
  list-style: none;
  /* background: #eee; */
  padding: 10px 20px;
  margin: 5px;
  /* margin-right: 39px; */
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product .itemBox{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 30px;
  align-items: center;

}
.about .container{
  display: flex;
  flex-direction: column ;
}
footer{
  display: none;
}

}

/* --------------- 685px Screens --------------- */

@media (max-width: 685px) {
  .body{
    margin: 20px;
    padding: 5px;
    min-width: 100vw;
    box-sizing: border-box;
  }
  .container{
    padding: 0 1rem;
  }
  header{
    width: 85%;
    padding: 0;
  }
  .sub-heading{
    font-size: 0.5rem;
  }
  .heading{
    font-size: 1.2rem;
  }
  .showcase-area .heading{
    font-size: 1.5rem;
  }
  .nav-link{
    margin: 0.5rem;
  }
  .square{
 
    top: 30px;
    /* height: 10px; */
    /* width: 10px; */
    width: 30px;
    height: 30px;
    display: none;
  }
  .circle{
    display: none;
  }
  .text{
    font-size: 0.55rem;
    margin: 0.6rem 0;
  }
  .card{
    /* min-width: 100%; */
    width: 190px;
    height: 300px;
    display: flex;
    padding: 10px;
    flex-wrap:wrap;
    /* height: %; */
    /* padding: -20rem 1.5rem; */
  }
  .btn{
    padding: 0.5rem 1.0rem;
    font-size: 0.5rem;
    border-radius: 15px;
    min-width: 100px;
  }
  .btn.secondary-btn{
    font-size: 0.5rem;
  }
  .form-input{
    padding: 0.4rem 0.8rem;
    border-radius: 15px;
    font-size: 0.5rem;
  }
  .logo{
    font-size: 0.6rem;

  }
  .showcase-area .container{
    display: flex;
   left: -50px;
    flex-direction: column;

  }
  .showcase-img{
    width: 70%;
    border-radius: 30px;
    top: 150px;
    /* margin: 10px; */
  }
  .showcase-img .person{
    top: 5px;
  
  }

  header .logo{
    height:60px;
    line-height: 100px;
  }
  .nav-link{
    font-size: 0.6rem;
  }
  .showcase-area{
    padding: 100px 0;
  }
  .showcase-area .container{
    grid-template-columns: 1fr 400px;
    height: 450px;
  }
  .skills-box{
    padding: 3.5rem;
  }
  .contact .container{
    column-gap: 2.50em;
  }  
  .contact-form{
    padding: 2rem 1.5rem;
  }
  .contact-form h3{
    font-size: 0.8rem;
    margin-bottom: 1rem;

  }
  .contact .form-input{
    margin-bottom: 0.6rem ;
  }


  .progress{
  height: auto;
  }
.showcase-img .person{
  left: 130px;
  top: 5px;
  

}

.product{
  display: flex;
  flex-wrap: wrap;
}
.grid{
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 400px;
  margin: 20px 15px;
  /* left: 150px; */
}
.grid ul{
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10px; */
  /* left: 30px; */
  justify-content: center;
  /* margin-right: 50px; */

}
.grid ul li{
  list-style: none;
  /* background: #eee; */
  padding: 5px 10px;
  margin: 0px;
  /* margin-right: 39px; */
  /* letter-spacing: 1px; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product .itemBox{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  left: -50px;
  align-items: center;

}
.about .container{
  display: flex;
  flex-direction: column ;
}
footer{
  display: none;
}
.anime .person1{
  top: -200px;
  width: 170%;
left: 150px;


}
 .about-info{
  margin: 30px;
  width: 60%;
  top: 100px;

 }
 .skills-box{
  width: 90%;
 }
 .skills-box .cards{
  display: flex;
  flex-direction: column;
 }
 .cards .card{
  width: 120%;
  margin: 0;
  padding: 10px;
  left: -30px;
  height: 30px;
 }
 .circle32{
  display: none;
 }
.skills-box .text{
  font-size: 0.5rem;
  text-align:justify;
}
.progress_container .progress {
  margin: auto;
  min-width: 50px;

}

.progress_title {
  color: var(--heading-color);
  padding: 0rem 33px;
  right: 30px;
  /* left: 10px; */
}
.progress_bar{
  left: 10px;
  width: 240px;
align-items: start;
margin: auto;
}
.progress_bar .bar{
  width: 40%;
  /* left: 10px; */
  /* align-items:start; */
}
.contact .container{
  display: flex;
  flex-direction: column;
}
.contact-form{
  width: 90%;
  /* margin: auto; */
}
.contact-info{
  width: 90%;
  /* margin: auto; */
  /* justify-items: baseline; */
  align-items: center;
}


}

